<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.calendar"
      version="0.1.0">
    <name>Calendar</name>
    <description>Sample Cordova Calendar Plugin</description>
    <license>MIT</license>
    <keywords>Cordova,calendar</keywords>


    <js-module src="www/calendar.js" name="Calendar">
        <clobbers target="window.calendar" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Calendar">
                <param name="android-package" value="com.calendar.Calendar"/>
            </feature>
        </config-file>

        <source-file src="src/android/Calendar.java" target-dir="src/com/calendar" />      
     </platform>          
</plugin>